swagger: '2.0'
info:
  description: '**** GENERATED BY Origix APPLICATION ****'
  version: '1.18.0'
  title: Origix REST API
  contact:
    name: sentenial
    url: http://sentenial.com
    email: engineering@sentenial.com
  license:
    name: For internal use only
    url: https://sentenial.com
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://www.nuapay.com/wp-content/uploads/2018/04/nuapay.svg
host: api.nuapay.com
basePath: /
schemes:
  - https
tags:
  - name: Introduction
    description: |-

      Welcome to the Nuapay REST API.  Processing Direct Debits (DDs) or Credit Transfers (CTs) via API is a simple way to integrate these payment methods into your systems.  This API reference provides information on available endpoints and how to interact with them.

      For Direct Debits once you have been configured with a Creditor Scheme ID just add the mandate, add the Direct Debit or Direct Debit Schedule and watch your payments come in.  If you're new to Direct Debits refer to our <a href = 'https://sentenial.github.io/developer-docs/np_landing_page.html' target='_blank' >Developer Documentation</a> for an overview of the Direct Debit process.

  - name: Getting Started
    description: |-

      To register for the service and get your API key, visit <a href=' https://www.nuapay.com/request-api-sandbox/' target='_blank' >https://www.nuapay.com/request-api-sandbox/</a> or e-mail: [api.support@nuapay.com](mailto:api.support@nuapay.com)

      If you prefer to talk to someone, call 00353 (0)1 901 2398.

      We'll have you up and running in no time.

  - name: API Endpoints
    description: |-

      Once you have your API key, you can send requests to the following endpoints:

      `Live: https://api.nuapay.com`

      `UAT: https://sandbox.nuapay.com/`

      Our APIs are RESTful and we use JSON format for submitting and retrieving data.

      <!-- A note on IDs: All IDs used in URIs are encoded. IDs used in request bodies are unencoded. -->

      To view all available Nuapay REST endpoints, see the [Resources](#tag/Returned-Resources) sections below.
      <aside class='notice'>
      If you choose to use Java to integrate with our API, then you can make use of the <a href='https://github.com/sentenial/nuapay-rest-client' target='_blank'>Nuapay Java Rest Client</a> library.  
      </aside>
  - name: Authentication
    description: |-

        Access to the API is controlled by HTTP Basic authentication. 

        Provide your API key as the basic authentication username, encoded in Base64. No password needs to be provided, however the request must be made from an allowed IP address configured in Nuapay.

        API authentication header format: 

        `Authorization: Basic Base64(<API_Key>:)`

        All API requests must be made over HTTPS, calls made over plain HTTP will fail. All API requests must be authenticated.
        
        
        <br>
        > To authorize, use this code:

        ```bash
        # With curl, you can just pass BASIC auth header 
        # (-u option) with each request
        $ curl 'https://api.nuapay.com/schemes/46pkx7o9n5/mandates' 
          -u bb09c2b6a9478720765c757a8bcadf1aa1fb31554566a21118c9c75e26c29686:
        ```
        ```java
        // With java client library use following code to set up your ApiKey
        ServiceConfiguration serviceConfig = new ServiceConfiguration();
        serviceConfig.setApiKey('bb09c2b6a9478720765c757a8bcadf1aa1fb31554566a21118c9c75e26c29686');

        RetrieveMandateResponse retrieveMandateResponse = 
          new MandateServiceDefault(serviceConfig)
            .retrieveMandate('46pkx7o9n5', '46pkx7o9n5');
        ```

        > Make sure to replace `bb09c2b6a...` with your API key.
        <br>  
  - name: Output Encoding Rules
    description: |-

      The code converts untrusted input into a safe form where the input is displayed as data to the user without executing as code in the browser.

      The implementation is based off the <a href='https://www.owasp.org/index.php/XSS_(Cross_Site_Scripting)_Prevention_Cheat_Sheet#Output_Encoding_Rules_Summary' target='_blank' >OWASP recommendations</a>.

  - name: JWS-Signature Header
    description: |- 
     
      The JWS-signature header is used to verify requests made to certain endpoints, it is generated based on the request body to be sent,
      a customer private key and X.509 certificate issued by Nuapay.

      For details on how to generate a private key and obtaining an X.509 certificate see the security section of the <a href = 'https://sentenial.github.io/developer-docs/np_secjwsgenerator.html' target='_blank'>Developer Resource</a> pages.

      Optionally the JWS-signature can also be applied to the following POST / PUT endpoints,
      * Create Mandate
      * Upload Mandate Document
      * Update Mandate
      * Activate Mandate
      * Cancel Mandate
      * Create Direct Debit
      * Create Direct Debit & Mandate
      * Revoke Direct Debit
      * Revoke All Direct Debit
      * Re-present Failed Direct Debit
      * Create Schedule
      * Create Schedule & Mandate
      * Cancel Schedule
      * Upload File

      The JWS-signature is not required for GET endpoints.
       <br>
       > Example JWS-Signature Header

      ``` json

      JWS-Signature: eyJiNjQiOmZhbHNlLCJjcml0IjpbImI2NCIsImlhdCIsImlzcyJdLCJraWQiOiIxNzk2NDU1MDI1IiwiaXNzIjoiT1VcdTAwM2ROdWFwYXkgQVBJLExcdTAwM2RMb25kb24sT1x1MDAzZE51YXBheSxDXHUwMDNkR0IsQ05cdTAwM2RvbWdkMzZkcG1rIiwiYWxnIjoiUlMyNTYiLCJpYXQiOjB9..wE6Cal9Hh62YKjjD4BbQpdPc1IwtteZ-ys3aiOWJDVLFdVxnJ0pEvcsK1nfRnfiiqCOB9PbapNrpG1e3jdWA3y-bm0KphLE52PEwhWZkD-x3WeFyxAeZT_Ma7Fem08k31ifMLMPYkXAyUDUfCao4DHJQHmOWQuDawYC4lH4qtiI

      ```
  - name: Returned Resources
    description: |-

      All resources returned by endpoints are contained within a resource envelope.

      For single entities, the JSON envelope has the following structure:

      JSON Path | Type | Description
      ---- | ---- | -----------
      uri | String | Resource URI
      data.id | String  | Resource ID
      data.uri | String  | Resource URI
      data.* |  | Resource content


      For collections, the JSON envelope contains the following structure:

      JSON Path | Type | Description
      ---- | ---- | -----------
      uri  | String | Collection resource URI
      data | Collection  | Collection of resources
      data[].id | String  | Resource ID
      data[].uri | String  | Resource URI
      data[].* |  | Resource content
      data.page | Pagination object | Meta-data related to pagination
      data.sort | Sort object | Meta-data related to sorting (currently empty)

      <aside class='warning'>
      NOTE: <strong>data.id</strong>  is a Resource ID that is used as an URI parameter. When building the URI to view or update resource the id is to be used. <strong>data.uri</strong> contains ready to use URI of the resource returned.   
      </aside>
       <br>
       > Example response with single entity

      ``` json

      {
        'uri' : '/files/23qzxn1f7m',
        'data' : {
          'id' : '23qzxn1f7m',
          'uri' : '/files/23qzxn1f7m',
          'originalFileName': 'originalFileName.xml',
          'newFileName': 'newFileName.xml.QUEUED'
        }
      }
      ```

      > Example response with collection

      ``` json
        
      {
        'uri' : '/schemes/8g3o2yyk2w/mandates',
        'data' : [ {
          'id' : '46pkxn8e9n',
          'uri' : '/schemes/8g3o2yyk2w/mandates/46pkxn8e9n',
          'mandateId' : 'b8b7ee91-b403-4ecb-9d98-059746dd8149',
          'debtorName' : 'Debtor Name',
          'debtorIBAN' : 'GB94SELN00999976543215',
          'debtorMobileNumber' : '0360321312312',
          'mandateStatus' : 'ACTIVE',
          'creationDate' : '2015-07-21'
        } 
        ],
        'page' : {
          'pageNumber' : 1,
          'pageSize' : 1,
          'totalElements' : 1,
          'totalPages' : 1
        },
        'sort' : [ ]
      }
      ```
  - name: Resource IDs
    description: |-


      The ID is part of resource URI and in this documentation is marked as such by placing it between curly brackets.  Sample scheme resource URI is `/schemes/{schemeId}/mandates/{mandateId}` where `schemeId` and `mandateId` are the Scheme and Mandate Resource IDs accordingly. 

      <aside class='warning'>
      NOTE: Resource ID is not a business identifier, it is a technical ID assigned during the POST of a new resource and is available in the response ID property. This ID can then be used to query the resource.
      </aside>

      <aside class='notice'>
      NOTE: <strong>data.uri</strong>  is a Resource URI that contains related Resource IDs as well. For complex URIs, where the Resource belongs to another Resource, the  <strong>data.uri</strong> element returns ready to use URI containing all related Resource IDs
      </aside>

      [Returned Resources](#tag/Returned-Resources) `data[].id` element contains the Resource ID. In above example [Mandate Resource](#operation/viewMandateUsingGET) needs to be retrieved to get the `mandateId` and [Creditor Scheme Resource](#operation/listCreditorSchemesUsingGET) needs to be retrieved to get `schemeId`.

  - name: Links
  - name: Transactions
    description: |-
      Transaction is a resource that describes a posting to an account that results in an increase or decrease to a balance of the account.

      To access transaction use following URL: [https://api.nuapay.com/accounts/{accountId}/transactions/{transactionId}](https://api.nuapay.com/accounts/{accountId}/transactions/{transactionId}) where

      * accountId, is the Account resource ID.

      * transactionId, is the Transaction resource ID.
  - name: Transaction Types
    description: |-
      The following table contains a list of the transaction types that can be returned as part of the 'List Transaction' and 'View Transaction' endpoints.

      Transaction | Transaction Type | Debit Credit Indicator | Counterparty
      ----------- | ---------------- | ---------------------- | ------------
      Credit Transfer Bank Reject | CREDIT_TRANSFER_BANK_REJECT | CREDIT | Debtor
      Direct Debit Batch | DIRECT_DEBIT_BATCH | CREDIT | Debtor
      Direct Debit Bank Cancellation | DIRECT_DEBIT_BANK_CANCELLATION | DEBIT | Creditor
      Direct Debit Reject | DIRECT_DEBIT_REJECT | DEBIT | Creditor
      Direct Debit Reversal | DIRECT_DEBIT_REVERSAL | DEBIT | Creditor
      Direct Debit Return | DIRECT_DEBIT_RETURN | DEBIT | Creditor
      Direct Debit Refusal | DIRECT_DEBIT_REFUSAL | DEBIT | Creditor
      Direct Debit Authorized Refund | DIRECT_DEBIT_AUTHORIZED_REFUND | DEBIT | Creditor
      Direct Debit Unauthorized Refund | DIRECT_DEBIT_UNAUTHORIZED_REFUND | DEBIT | Creditor
      Outgoing Credit Transfer | OUTGOING_CREDIT_TRANSFER | DEBIT | Creditor
      Availability Fee | AVAILABILITY_FEE | DEBIT | N/A for Fees
      Direct Debit Batch Transactions Fee | DIRECT_DEBIT_BATCH_TRANSACTIONS_FEE | DEBIT | N/A for Fees
      Direct Debit R-Transaction Fee | DIRECT_DEBIT_RTRANSACTIONS_FEE | DEBIT | N/A for Fees
      Credit Transfer Reject Fee | CREDIT_TRANSFER_RTRANSACTION_FEE | DEBIT | N/A for Fees
      Incoming Credit Transfer | INCOMING_CREDIT_TRANSFER | CREDIT | Debtor
      Credit Transfer Recall | CREDIT_TRANSFER_RECALL | CREDIT | Debtor
      E-Mandate Setup Fee - CORE Scheme | CORE_EMANDATE_SETUP_FEE | DEBIT | N/A for Fees
      E-Mandate Setup Fee - BACS Scheme | BACS_EMANDATE_SETUP_FEE | DEBIT | N/A for Fees
      E-Mandate Setup Fee - B2B Scheme | B2B_EMANDATE_SETUP_FEE | DEBIT | N/A for Fees
      E-Mandate Fee - CORE Scheme | CORE_EMANDATE_FEE | DEBIT | N/A for Fees
      E-Mandate Fee - BACS Scheme | BACS_EMANDATE_FEE | DEBIT | N/A for Fees
      E-Mandate Fee - B2B Scheme | B2B_EMANDATE_FEE | DEBIT | N/A for Fees
      Outgoing Credit Transfer Fee | OUTGOING_CREDIT_TRANSFER_FEE | DEBIT | N/A for Fees
      Incoming Credit Transfer Fee | INCOMING_CREDIT_TRANSFER_FEE | DEBIT | N/A for Fees
      Credit Transfer Recall Fee | CREDIT_TRANSFER_RECALL_FEE | DEBIT | N/A for Fees
      Overdraft Fee | OVERDRAFT_FEE | DEBIT | N/A for Fees
      Incoming Faster Payment | INCOMING_FPM_CREDIT_TRANSFER | CREDIT | Debtor
      Outgoing Faster Payment | OUTGOING_FPS_CREDIT_TRANSFER | DEBIT | Creditor
      Non-Standard Nuapay Fee | OCX_ADHOC_FEE | DEBIT | N/A for Fees
      Credit Adjustment | CUSTOMER_ADJUSTMENT_CREDIT | CREDIT | Debtor
      Debit Adjustment | CUSTOMER_ADJUSTMENT_DEBIT | DEBIT | Creditor
      SEPA Direct Debit File Export Fee |SEPA_DIRECT_DEBIT_FILE_EXPORT_FEE |	DEBIT |	N/A for Fees
      Incoming Instant Credit Transfer Fee | INCOMING_EXPRESS_CREDIT_TRANSFER_FEE | DEBIT | N/A for Fees
      Outgoing Instant Credit Transfer Fee | OUTGOING_EXPRESS_CREDIT_TRANSFER_FEE | DEBIT | N/A for Fees
      Incoming Instant Credit Transfer | INCOMING_INSTANT_CREDIT_TRANSFER | CREDIT | Debtor
      Outgoing Instant Credit Transfer | INSTANT_CREDIT_TRANSFER_OUT | DEBIT | Creditor
      BACS Mandate File Export Fee | BACS_MANDATE_FILE_EXPORT_FEE | DEBIT | N/A for Fees
      Own Account Transfer Credit | OWN_ACCOUNT_CREDIT_TRANSFER | CREDIT | Debtor
      Own Account Transfer Debit | OWN_ACCOUNT_DEBIT_TRANSFER | DEBIT | Creditor
      Standard Mandate Creation Fee | STANDARD_MANDATE_CREATION_FEE | DEBIT| N/A for Fees
  - name: Balances
    description: Balances endpoints
  - name: Mandates
    description: |-
      Mandates are associated to a Creditor Scheme (CORE or B2B) and enable the collection of funds from a debtor's account to a creditor's account via a Direct Debit.To access a mandate use the following URL: `https://api.nuapay.com/schemes/{schemeId}/mandates/{mandateId}`

      where

      * `schemeId`, is the Creditor Scheme resource ID returned by [List Creditor Schemes](#operation/listCreditorSchemesUsingGET)

      * `mandateId`, is the Mandate resource ID returned by a variety of mandate services including: [Create Mandate](#operation/addMandateUsingPOST), [List Organization Mandates](#operation/listOrganizationMandatesUsingGET),[List Scheme Mandates](#operation/listSchemeMandatesUsingGET), [Retrieve Mandate](#operation/viewMandateUsingGET)
  - name: Other
    description: Other endpoints
  - name: Direct Debits
    description: |-
      Direct debits are the financial transactions associated to the mandate.

      To access direct debits use the following URL:

      `https://api.nuapay.com/schemes/{schemeId}/mandates/{mandateId}/directdebits/{directDebitId}`

      where

      * `schemeId`, is the Creditor Scheme returned by [List Creditor Schemes](#operation/listCreditorSchemesUsingGET)

      * `mandateId`, is the Mandate is returned by a variety of mandate services including: [Create Mandate](#operation/addMandateUsingPOST), [List Organization Mandates](#operation/listOrganizationMandatesUsingGET),[List Scheme Mandates](#operation/listSchemeMandatesUsingGET), [Retrieve Mandate](#operation/viewMandateUsingGET)

      * `directDebitId`, is the Direct Debit returned by a variety of direct debit services including: [Create Direct Debit](#operation/addSinglePaymentUsingPOST), [List Organization Direct Debits](#operation/listDirectDebitsOrganizationUsingGET), [List Scheme Direct Debits](#operation/listDirectDebitsSchemeUsingGET), [List Mandate Direct Debits](#operation/listDirectDebitsSchemeMandateUsingGET), [Retrieve Direct Debit](#operation/viewDirectDebitUsingGET)
  - name: Payment Schedules
    description: |-
      Payment Schedules allow you to set up a number of payments against a mandate in one go. Schedules can be Fixed-Length (e.g. collect 10 EUR each month for 12 months) or Open-Ended (e.g. collect 10 EUR every month with no fixed number of payments being defined).

      To access payment schedules use the following URL:

      `https://api.nuapay.com/schemes/{schemeId}/mandates/{mandateId}/directdebits/{directDebitId}`

      where

      * `schemeId`, is the Creditor Scheme resource id returned by [List Creditor Schemes](#operation/listCreditorSchemesUsingGET)

      * `mandateId`, is the Mandate resource id returned by a variety of mandate services including: [Create Mandate](#operation/addMandateUsingPOST), [List Organization Mandates](#operation/listOrganizationMandatesUsingGET),[List Scheme Mandates](#operation/listSchemeMandatesUsingGET), [Retrieve Mandate](#operation/viewMandateUsingGET)

      * `scheduleId`, is the Payment Schedule resource id returned by a variety of payment schedule services including: [Create Schedule](#operation/addPaymentScheduleUsingPOST), [List Originator Payment Schedules](#operation/listPaymentSchedulesMandateUsingGET), [List Mandate Payment Schedules](#operation/listPaymentSchedulesMandateUsingGET) [Create Schedule & Mandate](#operation/addPaymentScheduleUsingPOST_1)
  - name: Creditor Schemes
    description: 'The Creditor Schemes associated to the Merchant. Each scheme will have a unique Creditor Scheme ID and a Scheme Type, CORE, B2B etc.'
  - name: Files
    description: A `POST` request used to upload a file. A request must contain the `multipart/form-data` content type with a `json` part containing input parameters in a JSON structure and a `file` part with file content.
  - name: Accounts
    description: Accounts endpoints
  - name: Validate Accounts
    description: Validate Accounts endpoints
  - name: About Responses
    description: |-
      Every API Request will generate a HTTP Response.  This will contain a HTTP Response Code to indicate the status of the Request.  In addition certain HTTP Responses (400, 422) may generate an Error Response with an Error Code.
  - name: HTTP Status Codes
    description: |-

      You may encounter the following response codes. Selected response codes will contain more information to help identify problems.

      <nobr>Status Code</nobr> | Usage
      ---------- | -------
      200 | OK -- The request completed successfully.
      201 | Created -- A new resource has been created successfully. The resource is appended to the response.
      400 | Bad Request -- The request was malformed. The response body will include an error providing further information.
      401 | Unauthorized -- Your API key is wrong.
      403 | Forbidden -- The client has provided a valid Authentication header, but it does not have permission to access this resource.
      404 | Not Found -- The requested resource did not exist.
      405 | Method Not Allowed -- When a HTTP method is being requested that isn't allowed.
      410 | Gone -- The API requested has been removed from our servers.
      412 | Precondition Failed -- Certain unmet conditions must be fulfilled before the request to be processed e.g. timestamp is too old.
      415 | Unsupported Media Type -- If incorrect content type was provided as part of the request (e.g. other than 'application/json').
      422 | Unprocessable Entity -- Used for validation errors. More details will be provided in response body.
      429 | Too Many Requests -- Status code indicates the user has sent too many requests in a given amount of time.
      500 | Internal Server Error -- We had a problem with our server. Try again later and if the problem persists contact the Nuapay application support team.
      501 | Not Implemented -- When the endpoint is not implemented yet.
      503 | Service Unavailable -- We're temporarially offline for maintanance. Please try again later.
  - name: Errors
    description: |-

      Whenever an error response with status `400` or `422` is returned, the body will contain a JSON object that describes the problem. The error object has the following structure:

      Path | Type | Description
      ---- | --------- | -----------
      returnCode | String | Error Code
      returnDescription | String | Error description
      details | Array |  The object holds collection of validation errors. It is returned only for `returnCode` equal to `8888`,`9999`.
      details[].code | String | Error Code 
      details[].field | String | JSON path to request object property the error is related to
      details[].description | Error description | 
      details[].resourceUri | String | This property holds existing resource URI in case the validation error states the resource already exist and can't be created. It is returned only for `returnCode` equal to `9999`.
      See [Error Codes](#tag/Error-Codes) section for details.

      <br>
       > For example, a request that attempts to create a payment schedule with invalid start date will produce a
      `400 Bad Request` response:

      ``` http
      HTTP/1.1 400 Bad Request
      Content-Type: application/json

      {
        'returnCode' : '7043',
        'returnDescription' : 'Start date is invalid'
      }
      ```
  - name: Error Codes
    description: |-
      Following is the list of error codes with description as a possible return when request failed:

      Code | Description 
      ---- | ----------- 
      2000 | General Mandate Processing Error. Note the error code is returned when no specific error code is assigned to the validation.  The description may differ from case to case. <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      2005 | Debtor Account Validation Error <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      2006 | The Creditor Account referenced within the file does not exist within the system <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      3001 | The debtor language must be provided	<em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      3002 | The language parameter is incorrect <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      3003 | The debtor address line 1 must be provided <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      3004 | The debtor country must be provided <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      3006 | The address parameter is mandatory when paper handling is set to true <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      3007 | The country is invalid <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      3008 | The debtor town must be provided <em>[Create mandate](#operation/addMandateUsingPOST) [Update mandate](#operation/editMandateUsingPUT)</em>
      3009 | The Mandate cannot be edited from its current state <em>[Update mandate](#operation/editMandateUsingPUT)</em>
      3010 | Mandate cannot be cancelled from its current state <em>[Cancel Mandate](#operation/cancelMandateUsingPOST)</em>
      3021 | A Payment already exists against a ONCE_OFF mandate <em>[Create direct debit](#operation/addSinglePaymentUsingPOST)</em>
      3022 | The Mandate cannot be Activated from its current state <em>[Activate mandate](#operation/activateMandateUsingPOST)</em>
      3023 | Mandate could not be added due to missing PDF template <em>[Create mandate](#operation/addMandateUsingPOST)</em>
      3024 | The debtor e-mail must be provided <em>[Create mandate](#operation/addMandateUsingPOST)</em>
      3025 | The debtor mobile number must be provided <em>[Create mandate](#operation/addMandateUsingPOST)</em>
      3026 | Mandate Type not supported in current configuration <em>[Update mandate](#operation/editMandateUsingPUT)</em>
      3027 | A Mandate exists in the system with the specified SEPA mandate ID. This ID must be unique for an Originator <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      3028 | In Respect of Contract ID not provided <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      3029 | No SEPA Mandate ID Provided <em>[Create mandate](#operation/addMandateUsingPOST)</em>
      3030 | Language is not supported by originator <em>[Create mandate](#operation/addMandateUsingPOST)</em>
      4003 | Payment Date is not a working day <em>[Create direct debit](#operation/addSinglePaymentUsingPOST), [Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      4004 | Date format invalid <em>[Create direct debit](#operation/addSinglePaymentUsingPOST)</em>
      4005 | Payment Date is not far enough in the future <em>[Create direct debit](#operation/addSinglePaymentUsingPOST), [Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      4006 | Invalid Number of Payments <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      4007 | Invalid Schedule Reference <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      4008 | Payment Date is too far in the future <em>[Create direct debit](#operation/addSinglePaymentUsingPOST), [Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      4009 | Payment Amount is invalid <em>[Create direct debit](#operation/addSinglePaymentUsingPOST), [Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      4011 | First Payment Amount Invalid <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      4013 | Last Payment Amount Invalid <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      4016 | Representation is not enabled for the creditor scheme <em>[Represent failed direct debit](#operation/representDirectDebitUsingPOST)</em>
      4019 | End To End Id is invalid <em>[Create direct debit](#operation/addSinglePaymentUsingPOST)</em>
      4021 | Direct Debit cannot be revoked as it is not in a valid status <em>[Revoke direct debit](#operation/revokeDirectDebitUsingPOST)</em>
      4022 | No Direct Debit exists matching information provided	 <em>[Revoke all direct debits](#operation/revokeAllDirectDebitsUsingPOST)</em>
      4023 | Direct Debit is not in a valid condition for Representation <em>[Represent failed direct debit](#operation/representDirectDebitUsingPOST)</em>
      4024 | Invalid Representation Fee amount <em>[Represent failed direct debit](#operation/representDirectDebitUsingPOST)</em>
      4025 | Invalid Representation Date <em>[Represent failed direct debit](#operation/representDirectDebitUsingPOST)</em>
      4029 | Number of Payments not provided <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      4031 | Final Payment amount should not be provided for an Open Ended Schedule <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      4032 | Number of Payments should not be provided for an Open Ended Schedule <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      4033 | Only a Start date should be provided for a Daily/Yearly Schedule <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      4034 | Only Day of Week should be provided for a Weekly/Bi-Weekly Schedule <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      4035 | Only Date in Month or Week in Month and Day of week should be provided for a Monthly schedule <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      4036 | An Active schedule already exists on this mandate <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      4039 | Payment Type must be Fixed Length on a Once off Mandate <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      4040 | Number of Payments on a Once Off Mandate must be set to 1 <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      4041 | End To End Id is not unique <em>[Create direct debit](#operation/addSinglePaymentUsingPOST)</em>
      4042 | Mandate is not in a Valid Status <em>[Create direct debit](#operation/addSinglePaymentUsingPOST), [Create payment schedule](#operation/addPaymentScheduleUsingPOST), [Represent DD](#operation/representDirectDebitUsingPOST)</em>
      4043 | No Direct Debit exists in a valid status <em>[Revoke all direct debits](#operation/revokeAllDirectDebitsUsingPOST)</em>
      4048 | Payment Custom Frequency must be provided if Payment Schedule Frequency is set to CUSTOM <em>[Create payment schedule and mandate](#operation/addPaymentScheduleUsingPOST_1)</em>
      7001 | Date format invalid <em>[List mandates](#operation/listSchemeMandatesUsingGET), [List direct debits](#operation/listDirectDebitsSchemeMandateUsingGET),[List failed direct debits](#operation/listFailedDirectDebitUsingGET)</em>
      7002 | 'From Date ' must be earlier or equal to 'To Date' <em>[List mandates](#operation/listSchemeMandatesUsingGET), [List direct debits](#operation/listDirectDebitsSchemeMandateUsingGET), [List failed direct debits](#operation/listFailedDirectDebitUsingGET)</em>
      7003 | Max date range is exceeded <em>[List mandates](#operation/listSchemeMandatesUsingGET), [List direct debits](#operation/listDirectDebitsSchemeMandateUsingGET), [List failed direct debits](#operation/listFailedDirectDebitUsingGET)</em>
      7004 | Boolean parameter value must be either 'true' or 'false' <em>[List failed direct debits](#operation/listFailedDirectDebitUsingGET), [Create direct debit](#operation/addSinglePaymentUsingPOST), [Create payment schedule](#operation/addPaymentScheduleUsingPOST), [Create direct debit and mandate](#operation/addSinglePaymentMOTFUsingPOST), [Create payment schedule and mandate](#operation/addPaymentScheduleUsingPOST_1)</em>
      7005 | Max file size exceeded <em>[Upload file](#operation/uploadFileUsingPOST)</em>
      7006 | Invalid file supplied. File extension does not match file format <em>[Upload file](#operation/uploadFileUsingPOST)</em>
      7007 | Not allowed file format <em>[Upload file](#operation/uploadFileUsingPOST)</em>
      7008 | Invalid file name <em>[Upload file](#operation/uploadFileUsingPOST)</em>
      7009 | The Creditor Scheme ID/Type referenced does not exist within the system <em>[Upload file](#operation/uploadFileUsingPOST)</em>
      7010 | Debtor Name is invalid or max length is exceeded <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT), [List mandates](#operation/listSchemeMandatesUsingGET)</em>
      7011 | Address Line1 is invalid or max length is exceeded <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7012 | Address Line2 is invalid or max length is exceeded <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7013 | Address Town is invalid or max length is exceeded <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7014 | Address Postal Code is invalid or max length is exceeded <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7015 | Address State is invalid or max length is exceeded <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7016 | Address ISO Country Code is invalid <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7017 | Debtor Language is invalid <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7018 | Debtor Email is invalid or max length is exceeded <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7019 | Phone Number is invalid or max length is exceeded <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7020 | Mobile Number is invalid or max length is exceeded <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7021 | Mandate Id is invalid or max length is exceeded <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT), [List mandates](#operation/listSchemeMandatesUsingGET)</em>
      7022 | Contract Reference is invalid or max length is exceeded <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7023 | Signature Location is invalid or max length is exceeded <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT), [Activate mandate](#operation/activateMandateUsingPOST)</em>
      7024 | Signature Date is invalid or max length is exceeded <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT), [Activate mandate](#operation/activateMandateUsingPOST)</em>
      7025 | Mandate Type is invalid <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7026 | Debtor IBAN is invalid <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT), [List mandates](#operation/listSchemeMandatesUsingGET)</em>
      7027 | Debtor Bank BIC is invalid <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7028 | Creditor IBAN is invalid <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7029 | Creditor Bank BIC is invalid <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7030 | Mandate Source is invalid <em>[Update mandate](#operation/editMandateUsingPUT)</em>
      7031 | Debtor Account IBAN is required <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7032 | Debtor object is required <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7033 | Debtor Account object is required <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7034 | Debtor name is required <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7035 | Remittance Information is invalid or max length is exceeded <em>[Create direct debit](#operation/addSinglePaymentUsingPOST), [Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      7036 | Requested Collection Date is required <em>[Create direct debit](#operation/addSinglePaymentUsingPOST)</em>
      7037 | Payment Amount is required <em>[Create direct debit](#operation/addSinglePaymentUsingPOST), [Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      7038 | Payment Frequency is required <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      7039 | Payment Type is required <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      7040 | Start Date is required <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      7041 | Payment Frequency is invalid <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      7042 | Payment Type is invalid <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      7043 | Start date is invalid <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      7044 | Schedule Id is invalid or max length is exceeded <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST), [List direct debits](#operation/listDirectDebitsSchemeMandateUsingGET), [Revoke all direct debits](#operation/revokeAllDirectDebitsUsingPOST)</em>
      7045 | Number of Payments is invalid <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      7046 | Payment Day of Week is invalid <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      7047 | Payment Week of Month is invalid <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      7048 | Payment Day in Month is invalid <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      7049 | ResendMandateForSignature is invalid <em>[Update mandate](#operation/editMandateUsingPUT)</em>
      7050 | Page Number is invalid <em>[List mandates](#operation/listSchemeMandatesUsingGET), [List direct debits](#operation/listDirectDebitsSchemeMandateUsingGET), [List Transactions](#operation/listTransactionsUsingPOSTs)</em>
      7051 | Max page size is exceeded <em>[List mandates](#operation/listSchemeMandatesUsingGET), [List direct debits](#operation/listDirectDebitsSchemeMandateUsingGET), [List Transactions](#operation/listTransactionsUsingPOSTs)</em>
      7052 | Page size is invalid <em>[List mandates](#operation/listSchemeMandatesUsingGET), [List direct debits](#operation/listDirectDebitsSchemeMandateUsingGET), [List Transactions](#operation/listTransactionsUsingPOSTs)</em>
      7053 | Authorization Method is invalid <em>[Activate mandate](#operation/activateMandateUsingPOST), [Create mandate](#operation/addMandateUsingPOST)</em>
      7054 | Authorization Token is invalid or max length is exceeded <em>[Activate mandate](#operation/activateMandateUsingPOST), [Create mandate](#operation/addMandateUsingPOST)</em>
      7055 | Authorization email is invalid or max length is exceeded <em>[Activate mandate](#operation/activateMandateUsingPOST), [Create mandate](#operation/addMandateUsingPOST)</em>
      7056 | Authorization Mobile Number is invalid or max length is exceeded <em>[Activate mandate](#operation/activateMandateUsingPOST), [Create mandate](#operation/addMandateUsingPOST)</em>
      7057 | Ip Address is invalid or max length is exceeded <em>[Activate mandate](#operation/activateMandateUsingPOST), [Create mandate](#operation/addMandateUsingPOST)</em>
      7058 | Geographic Location is invalid or max length is exceeded <em>[Activate mandate](#operation/activateMandateUsingPOST), [Create mandate](#operation/addMandateUsingPOST)</em>
      7059 | Mandate Status is invalid <em>[List mandates](#operation/listSchemeMandatesUsingGET)</em>
      7060 | End To End Id is invalid <em>[Create direct debit](#operation/addSinglePaymentUsingPOST), [Create direct debit and mandate](#operation/addSinglePaymentMOTFUsingPOST)</em>	
      7063 | Payment Status is invalid <em>[List direct debits](#operation/listDirectDebitsSchemeMandateUsingGET)</em>
      7064 | Operation Reason exceeds maximum length <em>[Cancel Mandate](#operation/cancelMandateUsingPOST), [Revoke all direct debits](#operation/revokeAllDirectDebitsUsingPOST), [Revoke direct debit](#operation/revokeDirectDebitUsingPOST)</em>
      7065 | Invalid Domestic Bank Code <em>[Validate Domestic Account](#operation/validateDomesticAccountUsingPOST)</em>
      7066 | Invalid Domestic Branch Code <em>[Validate Domestic Account](#operation/validateDomesticAccountUsingPOST)</em>
      7067 | Invalid Account Country <em>[Validate Domestic Account](#operation/validateDomesticAccountUsingPOST)</em>
      7068 | Invalid Domestic Checksum <em>[Validate Domestic Account](#operation/validateDomesticAccountUsingPOST)</em>
      7070 | The SEPA Creditor Scheme ID does not exist for the selected scheme	<em>[Validate IBAN](#operation/validateDomesticAccountUsingPOST)</em>
      7071 | No account associated to the creditor scheme <em>[Create direct debit and mandate](#operation/addSinglePaymentMOTFUsingPOST), [Create payment schedule and mandate](#operation/addPaymentScheduleUsingPOST_1)</em>
      7072 | PDF could not be generated / retrieved <em>[Retrieve mandate document](#operation/getPdfFileUsingGET)</em>
      7074 | Mandate Operation Reason not provided <em>[Cancel Mandate](#operation/cancelMandateUsingPOST)</em>
      7075 | Domestic Account Number is required if IBAN is not provided <em>[Validate Domestic Account](#operation/validateDomesticAccountUsingPOST)</em>
      7076 | Invalid Domestic Account Number <em>[Validate Domestic Account](#operation/validateDomesticAccountUsingPOST)</em>
      7077 | Account Country is required if IBAN is not provided <em>[Validate Domestic Account](#operation/validateDomesticAccountUsingPOST)</em>
      7078 | 'Reject From Date' is required <em>[List failed direct debits](#operation/listFailedDirectDebitUsingGET)</em>
      7079 | 'Reject To Date' is required <em>[List failed direct debits](#operation/listFailedDirectDebitUsingGET)</em>
      7080 | Payment Custom Frequency is invalid <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      7098 | Invalid IBAN <em>[Validate IBAN](#operation/validateDomesticAccountUsingPOST)</em>
      7099 | Domestic Account details are not allowed if IBAN is provided <em>[Validate Domestic Account](#operation/validateDomesticAccountUsingPOST), [Validate IBAN](#operation/validateDomesticAccountUsingPOST)</em>					  
      7101 | Provided schedule details would create two payments for first collecting period. Please change schedule details or twoPaymentsSamePeriod flag <em>[Create payment schedule](#operation/addPaymentScheduleUsingPOST)</em>
      7104 | Debtor Account Country does not match Scheme Country <em>[Create mandate](#operation/addMandateUsingPOST)</em>
      7105 | Creditor Account Country does not match Scheme Country <em>[Create mandate](#operation/addMandateUsingPOST)</em>
      7106 | Exported Mandates cannot be amnded when Edit Doc Handling / Regulatory Screening is enabled <em>[Update mandate](#operation/editMandateUsingPUT)</em>
      7107 | Mandate Id and Debtor Account details cannot be amended when Debtor Mandate Flow is used <em>[Update mandate](#operation/editMandateUsingPUT)</em>
      7108 | The file extension does not match that of the content-type header <em>[Upload Mandate Document](#operation/putPdfFileUsingPOST)</em>
      7109 | The file size exceeds 2MB <em>[Upload Mandate Document](#operation/putPdfFileUsingPOST)</em>
      7110 | The file name is invalid or exceeds the max length <em>[Upload Mandate Document](#operation/putPdfFileUsingPOST)</em>
      7116 | A Once Off Mandate cannot have Migrating Mandate value true <em>[Update mandate](#operation/editMandateUsingPUT)</em>
      7117 | BBAN specific fields not allowed	 <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7118 | Payment schedule status is invalid <em>[List payment schedules](#operation/listPaymentSchedulesMandateUsingGET)</em>
      7120 | Payment schedule cannot be cancelled as it is not in ACTIVE status [Cancel Payment Schedule](#operation/cancelPaymentScheduleUsingPOST)</em>
      7123 | Mandate object is required  <em>[Create direct debit and mandate](#operation/addSinglePaymentMOTFUsingPOST),[Create payment schedule and mandate](#operation/addPaymentScheduleUsingPOST_1)</em>
      7124 | Current Creditor Scheme configuration does not allow to create mandate on the fly  <em>[Create direct debit and mandate](#operation/addSinglePaymentMOTFUsingPOST),[Create payment schedule and mandate](#operation/addPaymentScheduleUsingPOST_1)</em>
      7128 | Required request part 'file' is not present <em>[Upload Mandate Document](#operation/putPdfFileUsingPOST)</em>
      7129 | Debtor Bank BIC is required as Debtor Bank is located in a NON-EEA Country <em>[Create mandate](#operation/addMandateUsingPOST),[Create direct debit and mandate](#operation/addSinglePaymentMOTFUsingPOST),[Create payment schedule and mandate](#operation/addPaymentScheduleUsingPOST_1)</em>
      7131 | Field is invalid or max length is exceeded <em>[Create account](#operation/addAccountUsingPOST), [List accounts](#operation/listAccountsUsingPOST)</em>
      7132 | Field is required <em>[Create account](#operation/addAccountUsingPOST)</em>
      7133 | IBAN is requried if External Account Validation is off <em>[Create account](#operation/addAccountUsingPOST)</em>
      7134 | Object is required <em>[Create account](#operation/addAccountUsingPOST)</em>
      7135 | Object is not allowed for current Originator configuration <em>[Create account](#operation/addAccountUsingPOST)</em>
      7136 | Account Validation Error <em>[Create account](#operation/addAccountUsingPOST)</em>
      7137 | Account already exist <em>[Create account](#operation/addAccountUsingPOST)</em>
      7138 | Currency is not supported <em>[Create account](#operation/addAccountUsingPOST)</em>
      7139 | Field is required for provided Account Country <em>[Create account](#operation/addAccountUsingPOST)</em>
      7140 | Field is not allowed for provided Account Country <em>[Create account](#operation/addAccountUsingPOST)</em>
      7141 | Field is not allowed for current Originator configuration <em>[Create account](#operation/addAccountUsingPOST)</em>
      7142 | Cannot generate account for current Originator configuration. Billing Mandate Reference is not set. <em>[Create direct debit and mandate](#operation/addSinglePaymentMOTFUsingPOST), [Create payment schedule and mandate](#operation/addPaymentScheduleUsingPOST_1)</em>
      7143 | Electronic Signature Details object is required. <em>[Create mandate](#operation/addMandateUsingPOST), [Activate mandate](#operation/activateMandateUsingPOST)</em>
      7144 | Account currency does not match payment currency. em>[Create transfer](#operation/transferUsingPOST) </em>
      7145 | Account From is the same as Account To. <em>[Create transfer](#operation/transferUsingPOST) </em>
      7146 | Transfer not allowed for current Originator configuration. <em>[Create transfer](#operation/transferUsingPOST)</em>
      7147 | Transfer not allowed for Originator type. <em>[Create transfer](#operation/transferUsingPOST) </em>
      7149 | Master Account is type is invalid <em>[Create Account](#operation/addAccountUsingPOST)</em>
      7150 | Master Account currency has to be the same as Sub-Account currency <em>[Create Account](#operation/addAccountUsingPOST)</em>
      7157 | Original transaction has not been found
      7166 | Debtor Name, Address Line 1 and Country are required where the Debtor bank and/or Creditor bank is based in a non-EEA country. Please update the mandate with the required information. <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT), [Create direct debit and mandate](#operation/addSinglePaymentMOTFUsingPOST), [Create payment schedule and mandate](#operation/addPaymentScheduleUsingPOST_1)</em>
      7202 | Invalid file MIME Type for file extention. Please check the file content. <em>[Upload file](#operation/uploadFileUsingPOST)</em>	
      7203 | Field is invalid or max length is exeeded <em>Multiple endpoints.  <em>Response details.field indicates the request property the error is related to</em>
      7204 | Value Date To is invalid. <em>[List Transactions](#operation/listTransactionsUsingPOSTs)</em>
      7205 | Value Date From is invalid. <em>[List Transactions](#operation/listTransactionsUsingPOSTs)</em>
      7206 | Amount From is invalid. <em>[List Transactions](#operation/listTransactionsUsingPOSTs)</em>
      7207 | Amount To is invalid. <em>[List Transactions](#operation/listTransactionsUsingPOSTs)</em>
      7208 | 'Value Date From' is not earlier or equal to 'Value Date To'. <em>[List Transactions](#operation/listTransactionsUsingPOSTs)</em>
      7209 | 'Amount From' is greater then 'Amount To'. <em>[List Transactions](#operation/listTransactionsUsingPOSTs)</em>
      7342 | Bank Branch Code must be set before generating a Nuapay account.<em>[Create account](#operation/addAccountUsingPOST)</em>
      7343 | When generating an IBAN the Bank country must be part of the EEA. Please check the bank country and try again <em>[Create account](#operation/addAccountUsingPOST)</em>
      7344 | The Bank Branch has closed (or is due to close)<em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7345 | This account does not support BACS Direct Debits<em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7346 | The account currency is not GBP <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7347 | The Sort Code or Account does not support AUDDIS <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7348 | The Bank does not support BACS transactions <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      7349 | Unable to upload selected file - virus detected. <em>[Upload Mandate Document](#operation/putPdfFileUsingPOST)</em>
      7350 | Originator Account Name contains incorrect characters to create given account type <em>[Create account](#operation/addAccountUsingPOST)</em>
      8888 | Input validation errors occurred. Please check details  <em>[Create direct debit and mandate](#operation/addSinglePaymentMOTFUsingPOST),[Create payment schedule and mandate](#operation/addPaymentScheduleUsingPOST_1)</em>
      9001 | Invalid Domestic Account Number <em>[Validate Domestic Account](#operation/validateDomesticAccountUsingPOST)</em>
      9002 | None-SEPA country IBAN has been provided <em>[Create mandate](#operation/addMandateUsingPOST), [Update mandate](#operation/editMandateUsingPUT)</em>
      9999 | Resource validation error <em>[Create direct debit and mandate](#operation/addSinglePaymentMOTFUsingPOST),[Create payment schedule and mandate](#operation/addPaymentScheduleUsingPOST_1)</em>
      10002 | Request parameters not valid <em>[Upload file](#operation/uploadFileUsingPOST)</em>
  - name: Pagination
    description: |-

      Nuapay API utilizes offset-based pagination for endpoints returning a collection of resources.

      Pagination parameters can be passed in URI for GET requests and in Body in POST requests.

      To control pagination, simply include either of 'Page Number' and 'Page Size'  parameters in a request. In the supported responses there will always be a page section added, describing the pagination settings used.

      <aside class='notice'>
      NOTE: the default value for Page Size is 20 and the maximum value you can set is 100.
      </aside>


      <br>
      # In URI 

      There are two parameters that control pagination: `pagenumber`, which specifies the page number to retrieve, and `pagesize`, which indicates how many records each page should contain. 
       
       <br> 
      # In Body 
        
      Path | Type |  Description
      ---- | ---- | -----------
      page.pageNumber<em>required</em>| Number | Holds page number to be returned. Default: 1
      page.pageSize<em>required</em>| Number | Holds page size to be returned. Default: 20

      <br> 
      > e.g. show the 1st page with a maximum of 10 entries per page from all of the available mandates:

      ```bash
      $ curl 'https://api.nuapay.com/schemes/46pkx7o9n5/mandates/?pagesize=10&pagenumber=1' \
        -u bb09c2b6a9478720765c757a8bcadf1aa1fb31554566a21118c9c75e26c29686: \
      ```
      ``` java
      ListMandatesRequestParameters listMandatesRequestParameters = 
        new ListMandatesRequestParameters();
      listMandatesRequestParameters.setPageSize(10);
      listMandatesRequestParameters.setPageNumber(1);

      ListMandatesResponse listMandatesResponse = 
        mandateService.listMandates('46pkx7o9n5', listMandatesRequestParameters);
      ```

      > the response will be:

      ``` http
      HTTP/1.1 200 OK
      Content-Type: application/json

      {
        'uri' : '/schemes/46pkx7o9n5/mandates',
        'data' : [ {
          'id' : '46pkxn8e9n',
          'uri' : '/schemes/8g3o2yyk2w/mandates/46pkxn8e9n',
          'mandateId' : 'b8b7ee91-b403-4ecb-9d98-059746dd8149',
          'debtorName' : 'Debtor Name',
          'debtorIBAN' : 'GB94SELN00999976543215',
          'debtorMobileNumber' : '0360321312312',
          'mandateStatus' : 'ACTIVE',
          'creationDate' : '2015-07-21'
        }, {
          'id' : 'nx9kndaejm',
          'uri' : '/schemes/8g3o2yyk2w/mandates/nx9kndaejm',
          'mandateId' : 'a04ee152-505d-4125-b671-5c5318b53842',
          'debtorName' : 'Debtor Name',
          'debtorIBAN' : 'GB94SELN00999976543215',
          'debtorMobileNumber' : '0360321312312',
          'mandateStatus' : 'ACTIVE',
          'creationDate' : '2015-07-21'
        }, {
          'id' : 'vw7kj9gey5',
          'uri' : '/schemes/8g3o2yyk2w/mandates/vw7kj9gey5',
          'mandateId' : '79839287-54d8-4fab-99cc-cf1808b7a766',
          'debtorName' : 'Debtor Name',
          'debtorIBAN' : 'GB94SELN00999976543215',
          'debtorMobileNumber' : '0360321312312',
          'mandateStatus' : 'ACTIVE',
          'creationDate' : '2015-07-21'
        } ],
        'page' : {
          'pageNumber' : 1,
          'pageSize' : 3,
          'totalElements' : 3,
          'totalPages' : 1
        },
        'sort' : [ ]
      }
      ```
  - name: Current Version
    description: |-
      The current version of the Nuapay API is version 1.0. Changes may occur to this version of the API without a change in version number if such a change follows our backwards compatibility guidelines. Different versions will be managed via a HTTP header indicating the version of the API which the client is using.

      Requests with no version number or an unmatched version number will be treated as version 1.0 requests.
  - name: Backwards Compatibility
    description: |-
      The following changes are considered backwards compatible:

      * Adding new API endpoints, new endpoints are independent,
      * Adding new optional request parameters to existing API calls, 
      * Adding new response properties to existing API calls. You should pay particular attention to this point if you are mapping your JSON responses to another programming language construct,
      * Changing of the property order in existing API responses,
      * Changing the length of object IDs (object IDs will never exceed 255 characters),
      * Changing the messages returned by validation or other error messages,
      * Output Encoding Rules are applied to some services and will be applied to all services in the future.
  - name: Changelog
    description: |-
      ## 2024-12-31
      * Removed CT and Beneficiary endpoints
      ## 2023-05-13
      * Added holdingBank object to 'Validate Accounts' reponse
      
      ## 2022-05-13
      * Added structuredRemittanceInformation object to 'Create Credit Transfer' and 'Transaction' objects.
      
      ## 2021-01-04
      * Added missing error codes.
      ## 2018-07-27 
      * Introduced new 422 error codes, 7148, 7152, 7153 and 7154, for 'Create Credit Transfer' and 'Create Credit Transfer and Beneficiary' endpoints. 

      ## 2018-06-18
      * Introduced 'Credit Transfer and Beneficiary' endpoint which creates a beneficiary in Origix then a credit transfer in one action
      * Introduced 'Type' to 'Create Credit Transfer' and 'Create Credit Transfer and Beneficiary' endpoints which will be used to distinguish between standard and express (instant) payments

      ## 2018-05-30
      * Added `Transfers` object and POST 'Transfers' endpoint, allowing users with more than one Nuapay account to transfer funds between thier accounts.

      ## 2018-04-05
      * Introduced explanation of the 'Links' array to the 'Resources' section.

      ## 2018-01-22
      * Added `Originator GET` endpoint.

      ## 2017-09-14
      * Added `List Credit Transfers POST` endpoint.
      * Added `List Transactions` endpoint.

      ## 2017-10-20
      * Renamed the 'Accounts' API section containing 'Validate Domestic Account' & 'Validate IBAN' to 'Validate Account'
      * Introduced a new 'Accounts' section containing create, list and view account endpoints
      * Introduced a new 'Balances' section containing the 'List Account Balances' endpoint
      * Introduced error codes for the new 'Accounts' and 'Balances' endpoints
      * Removed 'https:/' from some endpoint definitions
      * Corrected the file format for the 'Generic CSV' DD file type to 'GC_SCHEME' in the 'Upload File' endpoint
      * Fixed 'Webhooks Overview' link in the 'Transaction' section
      * Merged the 'Authorization' section into the 'Security' section

      ## 2017-09-15
      * Introduced a JWS-Signature section for non-repudiation to the 'Security' page.
      * Restored the `Credit Transfer` and `Beneficiary` endpoints.

      ## 2017-09-14
      * Added `Transactions` section.
      * Added `View Schedule` service under `Payment Schedules` section.

      ## 2017-08-21
      * Updated `Direct Debit Object`. Always return `links` section.
      * Updated `Create Direct Debit`. Always return `links` section.
      * Updated `View Direct Debit`. Always return `links` section.
      * Updated `List Direct Debits`. Always return `links` section.
      * Updated `Revoke Direct Debit`. Always return `links` section.
      * Updated `Revoke All Direct Debits`. Always return `links` section.
      * Updated `Re-present Failed Direct Debit`. Always return `links` section.
      * Updated `Direct Debit Object`. Always return `rejectDetails` object.
      * Updated `Create Direct Debit & Mandate`. Always return `rejectDetails` object.
      * Updated `Retrieve Direct Debit`. Always return `rejectDetails` object.
      * Updated `List Direct Debits`. Always return `rejectDetails` object
      * Updated `Revoke Direct Debit`. Always return `rejectDetails` object
      * Updated `Re-present Failed Direct Debit`. Always return `rejectDetails` object

      ## 2017-08-15
      * Removed `E-Mandates` section as this is covered in it's own API documentation. See the [Useful Links](#useful-links) for a link to the E-Mandate API documentation.

      ## 2017-08-14
      * Updated `Resources` section. Added more details on Resource Id.

      ## 2017-07-12
      * Updated `Error Codes`. Added codes `7129`, `7130`.

      ## 2017-07-05

      * Temporarily removed `Credit Transfer` and `Beneficiary` endpoints.

      ## 2017-05-29
      * Updated `Direct Debit Object`. Removed `INVALID` Status.

      ## 2017-05-24
      * Updated `Validate Domestic Account`. Return `domesticBranchCode` also if null
      * Updated `Validate IBAN`. Return `domesticBranchCode` also if null
      * Updated `Create Credit Transfer`. Always return `paymentCurrency`
      * Updated `List Credit Transfers`. Always return `paymentCurrency`
      * Updated `Direct Debit Object`. Always return `scheduleId` and `originalEndToEndId`
      * Updated `Create Direct Debit`. Always return `scheduleId` and `originalEndToEndId`
      * Updated `Create Direct Debit & Mandate`. Always return `scheduleId` and `originalEndToEndId`
      * Updated `Retrieve Direct Debit`. Always return `scheduleId` and `originalEndToEndId`
      * Updated `List Direct Debits`. Always return `scheduleId` and `originalEndToEndId`
      * Updated `List Failed Direct Debits`. Always return `scheduleId` and `originalEndToEndId`
      * Updated `Revoke Direct Debit`. Always return `scheduleId` and `originalEndToEndId`
      * Updated `Re-present Failed Direct Debit`. Always return `scheduleId` and `originalEndToEndId`
      * Updated `Create Schedule`. Always return `paymentDayOfWeek`,`paymentWeekOfMonth`, `paymentDateInMonth`, `paymentCustomFrequency`.
      * Updated `Create Schedule & Mandate`. Always return `paymentDayOfWeek`,`paymentWeekOfMonth`, `paymentDateInMonth`, `paymentCustomFrequency`
      * Updated `Upload file`. Added returned parameters `originalFileName`, `newFileName`
        
      ## 2017-04-11
      * Updated `Create Payment Schedule Object`. Added `settlement date shift` property to request.
      * Updated `Create Direct Debit Object`. Added `settlement date shift` property to request.
      * Updated `Create Payment Schedule and Mandate`. Added `settlement date shift` property to request.
      * Updated `Create Direct Debit and Mandate`. Added `settlement date shift` property to request.
      * Updated `Error Codes`. Added codes `7125`, `7126`,`7127`.
      * Updated `List Credit Transfers` request parameters. Added `originatoriban`.
      ## 2017-03-10
      * Updated `List Mandates` section, removed defaults from query parameters for `createdatefrom` and `createdateto` under `List Mandates`,  updated `mandatestatus` description that supports multiple statuses filtering within single request.
      * Updated `Upload Mandate Document` added note on `json` request part.
      * Added `Create Direct Debit and Mandate` section. 
      * Updated `List Direct Debits` section, removed defaults from URI parameters for `actualcollectiondatefrom` and `actualcollectiondateto`, updated `paymentstatus` description that supports  multiple statuses filtering within a single request.
      * Added `Create Payment Schedule and Mandate` section.
      * Updated `Create Payment Schedule Object`section. `paymentScheduleStatus` property is now returned by `Create Payment Schedule` service.
      * Updated `Errors` section. Extended response object  section with `details` array.
      * Updated `Error Codes`. Added codes `7123`, `7124`,`7128`,`8888`,`9999`.
      * Updated `List Credit Transfers` section. Updated `paymentstatus` description that supports  multiple statuses filtering within single request.
      * Updated `Credit Transfer Object` section. `beneficiaryName`,`beneficiaryIban` property is now returned by  `Create Credit Transfer` service.

      ## 2017-03-01
      * Removed `List Beneficiary Object` from `Beneficiaries` section. `List Beneficiaries` service returns `Beneficiary Object` at the moment. 
      * Added `List Credit Transfers` service description to `Credit Transfers` section.
      * Updated `Payment Schedule Object`, `twoPaymentsSamePeriod` property description. 

      ## 2017-01-10
      * Updated `List Mandates` section. Additional details added to description of `createdatefrom` parameter.
      * Updated `paymentAmount`property description across different sections. Added details of decimal separator and decimal places. 
      * Added `Credit Transfers`  section.
      * Updated `Payment Schedule` section with `List Payment Schedules` and `Cancel Payment Schedule`. Additional details added to  `Payment Schedule Object` including new response only property and description of amount fields.
      * Updated `Error Codes` section. Added codes 7111-7120. Fixed description for code 7103.
      * Updated `Direct Debits` section. Additional details added to description of `actualcollectiondatefrom` and `actualcollectiondateto` parameters.
      * Added description of `List Mandate Object`.
      * Updated `Update Mandate` section with more details on service behaviour.
      * Removed reference to `COR1` Scheme Type as it is not supported anymore.
      * Update to `Definition` sections across different enpoints. More consistent method and resource URI presentation.

      ## 2016-07-20
      * Fixed an error in the e-mandate signature URL, corrected URL should read, https://api.nuapay.com/emandate/web/show?token=XXXX

      ## 2016-06-29
      * Some additional existing error codes can now affect the `Prepare E-Mandate` service depending on configuration, see `Error Codes` section for details.

      ## 2016-05-06
      * Updated a number of examples using the -curl command, moving parameters using `-d` into the URL.
      * Added a `Useful Links` section with links to other relevant Nuapay integration documents.

      ## 2016-04-12
      * Updated Mandate Object `mandateInfo.status` and List Mandate `mandatestatus` with READY_FOR_EXPORT and EXPORTED status.

      ## 2016-04-11
      * Removed `v1` from endpoints

      ## 2016-04-03
      * Added `Versioning` section.
      * Updated request URI's based on versioning.

      ## 2016-01-21
      * Added `Security` section,
      * Added `Upload mandate document` service under `Mandates` section.
      * Added `E-Mandate Signature URLs` under `E-Mandates` section.
      * Updated `Error Codes` section. Added codes 7102 - 7110.

      ## 2015-11-19
      * Added `E-Mandates` section.
      * Fix for `List Direct Debits` request parameters. 
      * Updated `scheduleId` property to `String`.
      * Added `Beneficiary list` object.
      * Added `mandateInfo.status` and `mandateInfo.creationDate` to `Mandate` object.
      * Added `Failed Direct Debit` object.
      * Added [NuaPay Java Rest Client](https://github.com/sentenial/nuapay-rest-client)  lib examples.

      ## 2015-09-30
      * Added `Beneficiaries` section.
      * Updated `Add Payment Schedule` object. The payment schedule supports now `CUSTOM` frequency. New `paymentCustomFrequency`  and `twoPaymentsSamePeriod` properties added.
      * Updated `Mandate` object. Added supported `language` property values.
      * Updated `Error Codes` section. Added codes 7078-7089, 7098-7101.
      * Updated `Accounts` section. New `Validate IBAN` service  added. Defined `Account` object.
      * Added `Backwards Compatibility` section.

      ## 2015-09-01
      * API public release.
x-tagGroups:
  - name: Generial Info
    tags:
      - Introduction
      - Getting Started
      - API Endpoints
  - name: Security
    tags:
      - Authentication
      - Output Encoding Rules
      - JWS-Signature Header
  - name: Resources
    tags:
      - Returned Resources
      - Resource IDs
      - Links
  - name: Direct Debits APIs
    tags:
      - Creditor Schemes
      - Mandates
      - Direct Debits
      - Payment Schedules
  - name: Nuapay Accounts APIs
    tags:
      - Accounts
      - Balances
      - Transactions
      - Transaction Types
      - Transfers
  - name: Other APIs
    tags:
      - Files
      - Validate Accounts
      - Other
  - name: Responses
    tags:
      - About Responses
      - HTTP Status Codes
      - Errors
      - Error Codes
      - Pagination
  - name: Versioning
    tags:
      - Current Version
      - Backwards Compatibility
  - name: Change log
    tags:
      - Changelog
paths:
  /accounts:
    post:
      tags:
        - Accounts
      summary: Create Account
      description: |-
        POST request used to register or create account depending on the Originator configuration. A request must contain the application/json content type.

        Important Note: The 'identification' parameter and associated sub-parameters should be used only when creating a non-Nuapay account.
      operationId: addAccountUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: JWS-Signature
          in: header
          description: JWS-Signature
          required: false
          type: string
        - name: Idempotency-Key
          in: header
          x-sentenial:
            enriched: "true"
          description: Every request will be processed only once per Idempotency-Key.  The Idempotency Key will be valid for 24 hours.
          required: false
          type: string
          maxLength: 50
        - in: body
          name: addAccountRequest
          description: addAccountRequest
          required: true
          schema:
            $ref: "#/definitions/AddAccountRequest"
      responses:
        201:
          description: Created
          schema:
            $ref: "#/definitions/RestResponseEnvelopeOfAccountResponseEntity"
          examples:
            application/json:
              uri: /accounts/6bee3razby
              data:
                id: 6bee3razby
                uri: /accounts/6bee3razby
                name: Test Account
                actualHolderName: Originator
                currency: EUR
                type: CURRENT_ACCOUNT
                status: ACTIVE
                identification:
                  iban: GB35SELN00999903769154
                  domesticAccountNumber: "03769154"
                  domesticBankCode: null
                  domesticBranchCode: "009999"
                  domesticCheckSum: null
                  domesticAccountCountry: GB
                  bic: GENODESELNGB21XXXF1P17
                secondaryIdentification: REST ACC
                links: []
        400:
          description: Bad request
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "8888"
              returnDescription: Input validation errors occurred. Please check details.
              details:
                - code: "7131"
                  field: type
                  description: Field is invalid or max length is exceeded
                  resourceUri: null
        401:
          description: Unauthorized
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        403:
          description: Forbidden
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "10091"
              returnDescription: Access denied
              details: null
        405:
          description: Method Not Allowed
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        415:
          description: Unsupported Media Type
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        422:
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "9999"
              returnDescription: Input validation errors occurred. Please check details.
              details:
                - code: "7075"
                  field: identification.domesticAccountNumber
                  description: Domestic Account Number is required if IBAN is not provided
                  resourceUri: null
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            X-Rate-Limit-Reset:
              type: integer
              format: int32
              description: Number in seconds to wait before retrying request.
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - accounts
        - MerchantApiKey: []
  /accounts/list:
    post:
      tags:
        - Accounts
      summary: List Accounts
      description: |-
        POST request used to retrieve a list of accounts in a secured way. Query parameters are passed in the JSON body object. A request must contain the application/json content type.
        Important Note: Since this is a POST endpoint with only optional parameters when not providing any parameters user must supply an empty JSON body using {}.
      operationId: listAccountsUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: JWS-Signature
          in: header
          description: JWS-Signature
          required: false
          type: string
        - name: Idempotency-Key
          in: header
          x-sentenial:
            enriched: "true"
          description: Every request will be processed only once per Idempotency-Key.  The Idempotency Key will be valid for 24 hours.
          required: false
          type: string
          maxLength: 50
        - in: body
          name: listAccountRequest
          description: listAccountRequest
          required: true
          schema:
            $ref: "#/definitions/ListAccountRequestEntity"
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/RestPaginatedCollectionResponseEnvelopeOfAccountResponseEntity"
          examples:
            application/json:
              uri: /accounts/list
              data:
                - id: 6bee3razby
                  uri: /accounts/6bee3razby
                  name: Test Account
                  actualHolderName: Origiantor
                  currency: EUR
                  type: CURRENT_ACCOUNT
                  status: ACTIVE
                  externalId: 6p3ljpo7bv
                  identification:
                    iban: GB35SELN00999903769154
                    domesticAccountNumber: "03769154"
                    domesticBankCode: null
                    domesticBranchCode: "009999"
                    domesticChecksum: null
                    domesticAccountCountry: GB
                    bic: SELNGB21XXX
                  secondaryIdentification: REST ACC
                  links: [
                    {
                      "resourceType": "balances",
                      "id": null,
                      "uri": "/accounts/6p3ljpo7bv/balances"
                    }
                  ]
              page:
                pageNumber: 1
                pageSize: 10
                totalElements: 1
                totalPages: 1
              sort: []
        400:
          description: Bad request
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "8888"
              returnDescription: Input validation errors occurred. Please check details.
              details:
                - code: "7131"
                  field: filter.queryString
                  description: Field is invalid or max length is exceeded
                  resourceUri: null
        401:
          description: Unauthorized
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        403:
          description: Forbidden
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "7201"
              returnDescription: JWS-Signature is invalid.
              details: null
        405:
          description: Method Not Allowed
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        415:
          description: Unsupported Media Type
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        422:
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "9999"
              returnDescription: Input validation errors occurred. Please check details.
              details:
                - code: "7051"
                  field: page.pageSize
                  description: Max page size is exceeded
                  resourceUri: null
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            X-Rate-Limit-Reset:
              type: integer
              format: int32
              description: Number in seconds to wait before retrying request.
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - accounts_read
        - MerchantApiKey: []
  /accounts/{accountId}:
    get:
      tags:
        - Accounts
      summary: View Account
      description: GET request used to retrieve a patricular account object identified by resource ID returned by Create or List Accounts services.
      operationId: viewAccountUsingGET
      produces:
        - application/json
      parameters:
        - name: accountId
          in: path
          description: Encoded Account ID  of the account to be viewed.
          required: true
          type: string
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/RestResponseEnvelopeOfAccountResponseEntity"
          examples:
            application/json:
              uri: /account/6bee3razby
              data:
                id: 6bee3razby
                uri: /account/6bee3razby
                name: Test Account
                actualHolderName: Originator
                currency: EUR
                type: CURRENT_ACCOUNT
                status: ACTIVE
                externalId: 6p3ljpo7bv
                identification:
                  iban: GB35SELN00999903769154
                  domesticAccountNumber: "03769154"
                  domesticBankCode: null
                  domesticBranchCode: "009999"
                  domesticChecksum: null
                  domesticAccountCountry: GB
                  bic: SELNGB21
                secondaryIdentification: "12REST ACC345"
                links: []
        401:
          description: Unauthorized
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        403:
          description: Forbidden
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "10091"
              returnDescription: Access denied
              details: null
        404:
          description: Not Found
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "10093"
              returnDescription: Requested resource is not available
              details: null
        405:
          description: Method Not Allowed
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            X-Rate-Limit-Reset:
              type: integer
              format: int32
              description: Number in seconds to wait before retrying request.
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - accounts_read
        - MerchantApiKey: []
  /accounts/{accountId}/subaccounts/list:
    post:
      tags:
        - Accounts
      summary: List Sub-Accounts for Master Account
      description: |-
        POST request used to retrieve a list of sub-accounts for master account in a secured way. Query parameters are passed in the JSON body object. A request must contain the application/json content type.

        Important Note: Since this is a POST endpoint with only optional parameters when not providing any parameters user must supply an empty JSON body using {}.
      operationId: listSubAccountsUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: JWS-Signature
          in: header
          description: JWS-Signature
          required: false
          type: string
        - name: Idempotency-Key
          in: header
          x-sentenial:
            enriched: "true"
          description: Every request will be processed only once per Idempotency-Key.  The Idempotency Key will be valid for 24 hours.
          required: false
          type: string
          maxLength: 50
        - name: accountId
          in: path
          description: accountId
          required: true
          type: string
        - in: body
          name: listAccountRequest
          description: listAccountRequest
          required: true
          schema:
            $ref: "#/definitions/ListAccountRequestEntity"
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/RestPaginatedCollectionResponseEnvelopeOfAccountResponseEntity"
          examples:
            application/json:
              uri: /accounts/6bee3razby/subaccounts/list
              data:
                - id: 6bee3razby
                  uri: /accounts/6bee3razby
                  name: OriginatorName
                  actualHolderName: OriginatorName re Customer
                  currency: EUR
                  type: SUB_ACCOUNT
                  externalId: 6p3ljpo7bv
                  identification:
                    iban: GB35SELN00999903769154
                    domesticAccountNumber: "03769154"
                    domesticBankCode: null
                    domesticBranchCode: "009999"
                    domesticChecksum: null
                    domesticAccountCountry: GB
                    bic: SELNGB21XXX
                  secondaryIdentification: REST ACC
                  links: []
              page:
                pageNumber: 1
                pageSize: 10
                totalElements: 1
                totalPages: 1
              sort: []
        400:
          description: Bad request
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "8888"
              returnDescription: Input validation errors occurred. Please check details.
              details:
                - code: "7131"
                  field: filter.queryString
                  description: Field is invalid or max length is exceeded
                  resourceUri: null
        401:
          description: Unauthorized
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        403:
          description: Forbidden
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "7201"
              returnDescription: JWS-Signature is invalid.
              details: null
        404:
          description: Not Found
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "10093"
              returnDescription: Requested resource is not available
              details: null
        405:
          description: Method Not Allowed
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        415:
          description: Unsupported Media Type
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        422:
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "9999"
              returnDescription: Input validation errors occurred. Please check details.
              details:
                - code: "7051"
                  field: page.pageSize
                  description: Max page size is exceeded
                  resourceUri: null
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            X-Rate-Limit-Reset:
              type: integer
              format: int32
              description: Number in seconds to wait before retrying request.
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - accounts_read
        - MerchantApiKey: [ ]
  /accounts/{accountId}/settlements:
    get:
      tags:
        - Accounts
      summary: List Account Settlements
      description: |-
        GET  request used to retrieve a list of settlements for  account in a secured way.
      operationId: listSettlementsUsingGET
      produces:
        - application/json
      parameters:
        - name: accountId
          in: path
          description: accountId
          required: true
          type: string
        - name: pagenumber
          in: query
          required: false
          type: integer
          format: int32
          description: "Holds page number to be returned. Default: 1"
          default: 1
        - name: pagesize
          in: query
          required: false
          type: integer
          format: int32
          description: "Holds page size to be returned. Default: 20."
          default: 20
        - name: settlementamountfrom
          in: query
          description: Settlement Amount From
          required: false
          type: string
        - name: settlementamountto
          in: query
          description: Settlement Amount To
          required: false
          type: string
        - name: settlementdatefrom
          in: query
          description: Settlement Date From
          required: false
          type: string
          format: date
        - name: settlementdateto
          in: query
          description: Settlement Date To
          required: false
          type: string
          format: date
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/ListAccountSettlementsResponse"
          examples:
            application/json:
              uri: /accounts/6bee3razby/settlements
              data:
                - id: j29p3kxabx
                  uri: /accounts/6bee3razby/settlements/j29p3kxabx
                  accountHolderName: Merchant Name
                  iban: GB35SELN00999903769154
                  settlementIban: FR7630006000011234567890189
                  currency: EUR
                  reserveForPayouts: 0.00
                  settlementDate: 2024-12-27
                  settlementRunDate: 2024-12-24T20:06:03.774Z
                  minimumBalance: 10.00
                  openingBalance: 10.00
                  closingBalance: 10.00
                  currentReserve: 0.00
                  previousReserve: 0.00
                  settlementAmount: 0.00
                  previousSettlementId: bbee3razby
                  floatExposure:
                    numberOfTransactions: 0
                    valueOfTransactions: 0.00
                    floatRate: 0.05
                    maxExposurePreFloat: 5000.00
                  settlementCreditTransfers: [ ]
                - id: abxq9opd2l
                  uri: /accounts/6bee3razby/settlements/abxq9opd2l
                  accountHolderName: Merchant2 Name
                  iban: GB35SELN00999903769154
                  settlementIban: FR7630006000011234567890189
                  currency: EUR
                  reserveForPayouts: 0.00
                  settlementDate: 2024-12-27
                  settlementRunDate: 2024-12-24T20:06:03.774Z
                  minimumBalance: 0.00
                  openingBalance: 10788.83
                  closingBalance: 1024.31
                  currentReserve: 1024.31
                  previousReserve: 0.00
                  settlementAmount: 14886.06
                  previousSettlementId: ybee3razby
                  floatExposure:
                    numberOfTransactions: 4
                    valueOfTransactions: 20486.16
                    floatRate: 0.05
                    maxExposurePreFloat: 5000.00
                  settlementCreditTransfers:
                    - id: 6bee3razby
                      uri: /credittransfers/6bee3razby
                      amount: 14886.06
                      currency: EUR
                      executionDate: 2024-12-27
              page:
                pageNumber: 1
                pageSize: 10
                totalElements: 1
                totalPages: 1
              sort: [ ]
        400:
          description: Bad request
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "8888"
              returnDescription: Input validation errors occurred. Please check details.
              details:
                - code: "7131"
                  field: settlementdatefrom
                  description: Field is invalid or max length is exceeded
                  resourceUri: null
        401:
          description: Unauthorized
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        403:
          description: Forbidden
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "7201"
              returnDescription: JWS-Signature is invalid.
              details: null
        404:
          description: Not Found
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "10093"
              returnDescription: Requested resource is not available
              details: null
        405:
          description: Method Not Allowed
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        422:
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "9999"
              returnDescription: Input validation errors occurred. Please check details.
              details:
                - code: "7051"
                  field: pagesize
                  description: Max page size is exceeded
                  resourceUri: null
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            X-Rate-Limit-Reset:
              type: integer
              format: int32
              description: Number in seconds to wait before retrying request.
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
            - accounts_settlements_read
        - MerchantApiKey: [ ]
  /accounts/{accountId}/settlements/{settlementId}:
    get:
      tags:
        - Accounts
      summary: Retrieve Account Settlement
      description: |-
        GET  request used to retrieve a settlement for  account in a secured way.
      operationId: retrieveSettlementUsingGET
      produces:
        - application/json
      parameters:
        - name: accountId
          in: path
          description: accountId
          required: true
          type: string
        - name: settlementId
          in: path
          description: settlementId
          required: true
          type: string
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/RetrieveAccountSettlementResponse"
          examples:
            application/json:
              uri: /accounts/6bee3razby/settlements/abxq9opd2l
              data:
                id: abxq9opd2l
                uri: /accounts/6bee3razby/settlements/abxq9opd2l
                accountHolderName: Merchant2 Name
                iban: GB35SELN00999903769154
                settlementIban: FR7630006000011234567890189
                currency: EUR
                reserveForPayouts: 0.00
                settlementDate: 2024-12-24
                settlementRunDate: 2024-12-24T20:06:03.774Z
                minimumBalance: 0.00
                openingBalance: 10788.83
                closingBalance: 1024.31
                currentReserve: 1024.31
                previousReserve: 0.00
                settlementAmount: 14886.06
                previousSettlementId: ybee3razby
                floatExposure:
                  numberOfTransactions: 4
                  valueOfTransactions: 20486.16
                  floatRate: 0.05
                  maxExposurePreFloat: 5000.00
                settlementCreditTransfers:
                  - id: 6bee3razby
                    uri: /credittransfers/6bee3razby
                    amount: 14886.06
                    currency: EUR
                    executionDate: 2024-12-27
        401:
          description: Unauthorized
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        403:
          description: Forbidden
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "7201"
              returnDescription: JWS-Signature is invalid.
              details: null
        404:
          description: Not Found
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "10093"
              returnDescription: Requested resource is not available
              details: null
        405:
          description: Method Not Allowed
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            X-Rate-Limit-Reset:
              type: integer
              format: int32
              description: Number in seconds to wait before retrying request.
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
            - accounts_settlements_read
        - MerchantApiKey: [ ]
  /accounts/{accountId}/balances:
    get:
      tags:
        - Balances
      summary: List Account Balances
      description: A GET request is used to retrieve patricular account balances
      operationId: viewAccountBalancesUsingGET
      produces:
        - application/json
      parameters:
        - name: accountId
          in: path
          description: Encoded account id of the account whos balances are to be viewed.
          required: true
          type: string
        - name: dateuntil
          in: query
          description: "Epoch timestamp format date until which the balance should be returned. Default: current date."
          required: false
          type: integer
          format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/RestCollectionResponseEnvelopeOfListAccountBalanceResponseEntity"
          examples:
            application/json:
              uri: /accounts/rmpa5ve4m6/balances
              data:
                - uri: /accounts/rmpa5ve4m6/balances
                  balance:
                    amount: 1000
                    currency: EUR
                    creditDebitIndicator: CREDIT
                    type: BOOKED_BALANCE
                  timestamp: "1513083481996"
                  links: []
                - uri: /accounts/rmpa5ve4m6/balances
                  balance:
                    amount: 1000
                    currency: EUR
                    creditDebitIndicator: CREDIT
                    type: AVAILABLE_BALANCE
                  timestamp: "1513083481996"
                  links: []
        400:
          description: Bad request
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: "8888"
              returnDescription: Input validation errors occurred. Please check details.
              details:
                code: "7131"
                field: dateuntil
                description: Field is invalid or max length is exceeded
                resourceUri: null
        401:
          description: Unauthorized
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        403:
          description: Forbidden
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        404:
          description: Not Found
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        405:
          description: Method Not Allowed
          schema:
            $ref: "#/definitions/ErrorResponse"
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            X-Rate-Limit-Reset:
              type: integer
              format: int32
              description: Number in seconds to wait before retrying request.
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - accounts_read
        - MerchantApiKey: []
[...]
